<html>
  <head></head>
  <body>
  	<form>
	  <input type='text' name='guess' />
	  <input type='submit' value='Guess!' />
	</form>
    <p>
      <br>
      <%= message %>
    </p>
  </body>
</html>



